.main_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:37px ;
}

.main_container  p {
    color: #8F8F8F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: .2px;
}